/*geral syles*/
*{
    margin: 0;
    padding: 0;
}
.float-left{
    float: left;
}
/*body styles*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

/*header styles*/
.header{
    margin-top: 60px;
}

/*heading*/
.heading{
    text-align: center;
}

/*first heading styles*/
.first-heading{
    color: #ccc;
    font-weight: 200;
}

/*second heading styles*/
.second-heading{
    color: #333;
    font-weight: 600;
    margin: 10px 0;
    font-size: 33px;
}

/*paragraph*/
.paragraph{
    text-align: center;
    width: 40%;
    margin: auto;
    color: #dadada;
    padding: 10px 0;
}

/*container*/
.container{
    width: 80%;
    margin:auto;
    margin-top: 50px;
    position: relative;
}

/*item*/
.item{
    background-color: #fff;
    width: 30%;
    height: 200px;
    border-radius: 4px;
    position: relative
}

.i-left{
    position: absolute;
    top: 93px;
    left: 0;
}

.i-right{
    position: absolute;
    top: 93px;
    right: 0;
}

.i-bottom{
/*    margin: auto;*/
    position: absolute;
    left: 380px;
    top: 248px;
}

.i-top{
/*    margin: 45px auto;*/
    position: absolute;
    left: 380px;
}

/*title*/
.title{
    padding: 15px 25px;
}

/*desc*/
.desc{
    padding: 10px 25px;
    color: #ccc;
}

/*img-container*/

.img-container{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.img-container img{
    height: 100%;
    width: 100%;
}

/**/

.supervisor{
     border-top: 3px solid hsl(180, 62%, 55%); 
}

.team-builder{
     border-top: 3px solid hsl(0, 78%, 62%);
}

.karma{
     border-top: 3px solid hsl(34, 97%, 64%);  
}

.calculator{
     border-top: 3px solid hsl(212, 86%, 64%);  
}



/*footer styles*/
.footer { 
    font-size: 11px; text-align: center;
}
.footer a { 
    color: hsl(228, 45%, 44%);
}


